<ion-view view-title="About Us">
  <ion-content overflow-scroll="false">
    <div class="card">
      <div class="item item-divider">
            Our History
        </div>
        <div class="item item-text-wrap">
          <p>
            We are a forum to bring people together and to make change wherever possible. 
			If you've got ideas or will, come work with us to get things done. 
          </p>
        </div>
    </div>

    <div class="card">
      <div class="item item-divider">
            The Board
        </div>
        <div class="list list-inset">
            <div class="item item-avatar item-text-wrap" ng-repeat="leader in leaders">
              <img ng-src="{{leader.image}}" alt="{{promotion.name}}">
              <strong><h2 class="media-heading">{{leader.name}}</h2>
              <small>{{leader.title}}</small></strong>
             <p>
               {{leader.description}}
             </p>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
