<ion-view view-title="Contact Us">
  <ion-content overflow-scroll="false">
    <div class="card">
      <div class="item item-divider">
            Location Information
        </div>
        <div class="item item-text-wrap">
          <h2>Our Address</h2>
          <address style="font-size: 100%">
              Midtown Center<br>
              5700 W Capitol Pkwy,<br>
              Milwaukee, WI US<br>
              <i class="icon ion-android-call"></i>: +555-234-24555 <br>
              <i class="icon ion-email"></i>:
              <a href="mailto:contact@nonprofit.org">contact@nonprofit.org</a><br />
              <i class="icon ion-social-twitter"></i>:
              <a href="http://www.twitter.com/@nonProfitOrg">@nonProfitOrg</a>
           </address>
        </div>
        <div class="button-bar button-bar-full">
          <a class="button button-positive icon-left ion-android-call">Call</a>
          <a class="button button-calm icon-left ion-social-twitter">Twitter</a>
          <a class="button button-balanced icon-left ion-email"></i>Email</a>
        </div>
    </div>
  </ion-content>
</ion-view>
