<ion-view view-title="Event Detail">
  <ion-content overflow-scroll="false">
    <div class="list card">
      <!-- heading info (event name, date and duration) -->
      <div class="item">
        <h2>{{event.name}}</h2>
        <div class="row">
          <div class="col col-80">
            {{event.date | date:'fullDate'}}
          </div>
          <div ng-show="event.showDuration" class="col event-details-duration">
            {{event.durationHrs}}hrs
          </div>
        </div>
      </div>

      <!-- event description -->
      <div ng-show="isSelected(1)" class="item item-body">
        <img class="full-image" ng-src="{{event.image}}">
        <p>
          {{event.description}}
        </p>
      </div>

      <!-- event location and direction -->
      <div ng-show="isSelected(2)" class="item item-body">
        <p>
          <address ng-bind-html="event.formattedAddress" style="font-size: 100%"></address>

           <button class="button button-icon icon ion-android-map"
           ng-click="getDirections()"> Get Directions</button>
        </p>
      </div>

      <!-- event RSVP -->
      <div ng-show="isSelected(3)" class="item item-body">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Guest</span>
            <input type="text" placeholder="Number of Guest">
          </label>
          <div class="item">
            <button class="button button-block button-positive">
              RSVP
            </button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar>
    <!-- tab navigation -->
    <div class="tabs-striped tabs-icon-top tabs-color-assertive">
      <div class="tabs">
        <a ng-class="{active:isSelected(1)}" class="tab-item"
        ng-click="selectTab(1)">
          <i class="icon ion-information-circled"></i>
          Info
        </a>
        <a ng-class="{active:isSelected(2)}" class="tab-item"
        ng-click="selectTab(2)">
          <i class="icon ion-ios-location"></i>
          Location
        </a>
        <a ng-class="{active:isSelected(3)}" class="tab-item"
        ng-click="selectTab(3)">
          <i class="icon ion-person-add"></i>
          RSVP
        </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
