<ion-view view-title="Events">
  <ion-nav-buttons side="secondary">
    <div class="buttons">
      <button ng-class="[{'ion-android-search': !showSearch}, {'ion-android-close': showSearch}]" class="button button-icon icon"
      ng-click="toggleSearch()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <div ng-show="showSearch" class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="search.text">
      </label>
    </div>
    <ion-list>
      <div class="item item-divider">
        Customize
      </div>
      <li class="item item-toggle">
         {{subscription.text}}
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="subscription.showSubscriptions"
           ng-change="toggleSubscription()" ng-disabled="subscription.disabled">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select ng-options="category.name for category in categoryOptions track by category.id"
        ng-model="selectedCatergory.value"></select>
      </label>
      <div class="item item-divider">
        Calendar
      </div>
      <ion-item ng-repeat="event in processedEvents = (events | filter: {name: search.text, category: selectedCatergory.value.id || ''})"
      ui-sref="app.eventdetails({eventId: event._id})" class="item-text-wrap">
        <div class="row">
          <div class="col col-40"><img class="feature-img" ng-src="{{event.image}}"></div>
          <div class="col col-60">
            <h3>{{event.name}}</h3>
            <span>{{event.date | date:'MMM d, h:mm a'}}</span>
            <br />
            <div class="calendar-event-no-line-wrap">@ {{event.venue}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
