<ion-view view-title="Gallery Details">
  <ion-content overflow-scroll="false">
    <div class="card">
      <div class="item item-text-wrap">
        Coming soon.
      </div>
    </div>
  </ion-content>
</ion-view>
