<ion-view view-title="Home">
  <ion-content overflow-scroll="false">
    <div class="card">
      <div class="item item-divider">
        Featured Event
        <span ng-show="isFeaturedEventAvailable" class="badge badge-assertive">New</span>
      </div>
      <!-- shows the featured event when available -->
      <a ng-show="isFeaturedEventAvailable" class="item item-text-wrap"
      ui-sref="app.eventdetails({eventId: featuredEvent._id})">
        <div class="row">
          <div class="col col-40"><img class="feature-img" ng-src="{{featuredEvent.image}}"></div>
          <div class="col col-60">
            <h3>{{featuredEvent.name}}</h3>
            <span>{{featuredEvent.date | date:'MMM d, h:mm a'}}</span>
            <br />
            <div class="calendar-event-no-line-wrap">@ {{featuredEvent.venue}}</div>
          </div>
        </div>
      </a>

      <!-- show this when the featured event is not available -->
      <div ng-hide="isFeaturedEventAvailable" class="item item-text-wrap">
        Continue to watch this space for our next featured event.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Next General Meeting
      </div>
      <!-- show this when the featured event is not available -->
      <div ng-hide="meetingAvailable" class="item item-text-wrap">
        Continue to watch this space for our next general meeting.
      </div>

      <!-- info about the next general meeting -->
      <div ng-show="meetingAvailable" class="item item-text-wrap">
        {{nextGeneralMeeting.date | date:'MMM d, h:mm a'}} @
        {{nextGeneralMeeting.venue}}
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Your Events Feed
        <span class="badge badge-assertive">{{eventFeedAmout}}</span>
      </div>

      <!-- show this when the user is not logged in -->
      <div ng-show="showNotLoggedInMessage && feedAvailable" class="item item-text-wrap event-feed-login-message">
        Log in to customize your events feed.
      </div>

      <!-- main event feed shown when feed is available -->
      <a ng-show="feedAvailable" ng-repeat="event in eventFeed"
      class="item item-text-wrap" ui-sref="app.eventdetails({eventId: event._id})">
        <div class="row">
          <div class="col col-40"><img class="feature-img" ng-src="{{event.image}}"></div>
          <div class="col col-60">
            <h3>{{event.name}}</h3>
            <span>{{event.date | date:'MMM d, h:mm a'}}</span>
            <br />
            <div class="calendar-event-no-line-wrap">@ {{event.venue}}</div>
          </div>
        </div>
      </a>

      <!-- show this when the event feed is empty -->
      <div ng-hide="feedAvailable" class="item item-text-wrap">
        No upcoming event available. Please check back later.
      </div>

      <div class="item item-text-wrap">
        <button ui-sref="app.eventcalendar({fromFeed: true})" class="button icon-left ion-star button-positive">
          View All
        </button>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Most Recent Gallery
      </div>
      <div class="item item-text-wrap">
        Coming soon.
        <!--<div class="row row-center">
          <div class="col col-40"><img class="feature-img" ng-src="{{recentGallery.image}}"></div>
          <div class="col">
            <h3>{{recentGallery.name}}</h3>
            <span>{{recentGallery.date | date:'mediumDate'}}</span>
            <br />
            @ {{recentGallery.venue}}
          </div>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
