<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closeRegister()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="false">
    <form ng-submit="doRegister()">
      <div class="list">
       <!-- <label class="item item-input">
         <span class="input-label">Your Picture</span>
       </label>
       <label class="item item-input">
         <img class="padding" ng-src="{{registerData.imgSrc}}">
       </label>
       <label class="item">
         <button class="button button-block button-positive" type="button" ng-click="takePicture()">
              Take Picture
          </button>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="button" ng-click="openGallery()">
               Gallery
           </button>
         </label> -->
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="registerData.firstname">
        </label>
         <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="registerData.lastname">
        </label>
         <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="registerData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <!-- <label class="item item-input">
          <span class="input-label">Telephone Number</span>
          <input type="tel" ng-model="registerData.telnum">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="registerData.email">
        </label> -->

        <!-- error message when registration fails -->
        <label ng-show="registerErr" class="item item-text-wrap login-err-message">
          {{registerErrMsg}}
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
