<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Settings</h1>
    <div class="buttons">
      <button class="button button-dark" ng-click="closeSettings()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doUpdateSettings()">
      <div class="list">
        <label ng-show="settingsErr" class="item event-feed-login-message">
          An error occurred with the settings.
        </label>
        <ion-checkbox ng-model="settingsData.subscribeMeetings">Meetings</ion-checkbox>
        <ion-checkbox ng-model="settingsData.subscribeSocials">Socials</ion-checkbox>
        <ion-checkbox ng-model="settingsData.subscribeFundraisers">Fundraisers</ion-checkbox>
        <ion-checkbox ng-model="settingsData.subscribeOutreach">Outreach</ion-checkbox>
        <label class="item">
          <button ng-disabled="settingsErr" class="button button-block button-positive" type="submit">Update settings</button>
        </label>
        <label class="item">
          <button class="button button-block button-assertive" type="button" ng-click="doLogout()">Log out</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
