<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Navigation</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
          About Us
        </ion-item>
        <ion-item menu-close href="#/app/events">
          Event Calendar
        </ion-item>
        <ion-item menu-close href="#/app/gallery">
          Photo Gallery
        </ion-item>
        <ion-item class="item-divider">
          Services
        </ion-item>
        <ion-item ng-show="isAuthenticated" menu-close ng-click="settings()">
          Settings
        </ion-item>
        <ion-item ng-hide="isAuthenticated" menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item ng-hide="isAuthenticated" menu-close ng-click="register()">
          Register
        </ion-item>
        <ion-item menu-close href="#/app/contactus">
          Contact Us
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
