/* Empty. Add your own CSS if you like */
.feature-img,
.event-feed-img {
  width: 100%;
}

.event-details-duration {
  text-align: right;
}

.login-err-message,
.event-feed-login-message {
  background-color: #fff7d8;
  text-align: center;
}

.calendar-event-no-line-wrap {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
